.page-title {
  margin-block: 40px;
  font-family: "Aboreto", cursive;
  text-align: center;
}
form {
  width: 95%;
  margin: auto;
  padding: 25px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}
form .inputs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px 30px;
  margin-bottom: 50px;
}
form .inputs-container > div {
  flex-basis: calc(50% - 15px);
  position: relative;
}
@media (max-width: 767px) {
  form .inputs-container {
    flex-direction: column;
    gap: 30px;
  }
  form .inputs-container > div {
    width: 100%;
  }
}
form .inputs-container > div label {
  position: relative;
  top: 29px;
  left: 10px;
  color: #000;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
form .inputs-container > div label.active {
  position: relative;
  top: 0;
  left: 0;
  color: var(--secondary-color);
}
form .inputs-container > div input {
  width: 100%;
  padding: 10px;
  font-weight: 700;
  border: 3px solid;
  border-color: transparent transparent var(--secondary-color) transparent;
}
form .inputs-container > div input.active {
  border-color: var(--secondary-color);
}
form .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
form .buttons-container button {
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
form .buttons-container button:hover {
  letter-spacing: 2px;
  padding: 10px 20px;
}
form .buttons-container button.submit {
  color: var(--green);
  border: 2px solid var(--green);
}
form .buttons-container button.submit:hover {
  color: #000;
  background-color: var(--green);
}
form .buttons-container button:not(.submit) {
  color: #fff;
  border: 2px solid var(--red);
}
form .buttons-container button:not(.submit):hover {
  color: #fff;
  background-color: var(--red);
}
table {
  width: 95%;
  margin: 50px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}
table caption {
  text-align: left;
  margin-bottom: 15px;
}
table caption button {
  background-color: transparent;
  border: none;
  color: var(--red);
  font-size: 52px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
table caption button * {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
table caption h4 {
  display: inline-block;
  margin-inline-start: 10px;
  position: relative;
}
table thead tr th,
table tbody tr td {
  padding: 10px;
  border-bottom: 1px solid var(--secondary-color);
  text-align: center;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
table tbody tr:hover td {
  background-color: rgba(0, 0, 0, 0.15);
}
table tbody tr td sup {
  color: var(--green);
}
table tbody tr td button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-inline: 2.5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
table tbody tr td button .delete-btn {
  color: var(--red);
}
table tbody tr td button .edit-btn {
  color: var(--green);
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
  background-color: var(--main-bg);
  color: #fff;
}
footer p {
  margin: 0;
}
footer p a {
  font-family: "Pacifico", cursive;
  /* font-weight: bold; */
  font-size: 22px;
  color: var(--secondary-color);
}
