<h1 class="page-title">CRUD System</h1>
<form>
  <div class="inputs-container">
    <div>
      <label id="nameLabel" for="product-name" class="input-placeholder">
        Product Name
      </label>
      <input
        type="text"
        id="product-name"
        (focus)="placeHolderFocus('nameLabel')"
        (blur)="placeHolderBlur('nameLabel')"
      />
    </div>
    <div>
      <label id="amountLabel" for="product-amount" class="input-placeholder">
        Amount
      </label>
      <input
        type="number"
        id="product-amount"
        (focus)="placeHolderFocus('amountLabel')"
        (blur)="placeHolderBlur('amountLabel')"
      />
    </div>
    <div>
      <label id="priceLabel" for="product-price" class="input-placeholder">
        Price
      </label>
      <input
        type="number"
        id="product-price"
        (focus)="placeHolderFocus('priceLabel')"
        (blur)="placeHolderBlur('priceLabel')"
      />
    </div>
    <div>
      <label id="categLabel" for="product-category" class="input-placeholder">
        Category
      </label>
      <input
        type="text"
        id="product-category"
        (focus)="placeHolderFocus('categLabel')"
        (blur)="placeHolderBlur('categLabel')"
      />
    </div>
    <div>
      <label
        id="discountLabel"
        for="product-discount"
        class="input-placeholder"
      >
        Discount %
      </label>
      <input
        type="number"
        id="product-discount"
        (focus)="placeHolderFocus('discountLabel')"
        (blur)="placeHolderBlur('discountLabel')"
      />
    </div>
    <div>
      <label id="sellerLabel" for="product-seller" class="input-placeholder">
        Seller
      </label>
      <input
        type="text"
        id="product-seller"
        (focus)="placeHolderFocus('sellerLabel')"
        (blur)="placeHolderBlur('sellerLabel')"
      />
    </div>
  </div>
  <div class="buttons-container">
    <button type="submit" class="submit" (click)="addProduct()">
      Add Product
    </button>
    <button type="reset">Clear</button>
  </div>
</form>
<table>
  <caption>
    <button (click)="emptyDb()"><mat-icon>delete_forever</mat-icon></button>
    <h4>Total: <span>2</span></h4>
  </caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Discount</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Seller</th>
      <th>ID</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="productsHolder">
    <!-- <tr>
      <td>1</td>
      <td>Grooking Algorithms</td>
      <td><span>154.2</span><sup>$</sup></td>
      <td><span>54.2</span><sup>$</sup></td>
      <td>7</td>
      <td>Books</td>
      <td>Amazon</td>
      <td><svg id="barcode"></svg></td>
      <td>
        <button (click)="editProduct()">
          <mat-icon class="edit-btn">edit_square</mat-icon>
        </button>
        <button (click)="deleteProduct()">
          <mat-icon class="delete-btn">delete</mat-icon>
        </button>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>MacBook Pro</td>
      <td><span>252.99</span><sup>$</sup></td>
      <td><span>22.99</span><sup>$</sup></td>
      <td>5</td>
      <td>Electronics</td>
      <td>Amazon</td>
      <td><svg id="barcode"></svg></td>
      <td>
        <button (click)="editProduct()">
          <mat-icon class="edit-btn">edit_square</mat-icon>
        </button>
        <button (click)="deleteProduct()">
          <mat-icon class="delete-btn">delete</mat-icon>
        </button>
      </td>
    </tr> -->
  </tbody>
</table>
<footer>
  <p>
    Copyrights &copy; <span>{{ currentYear }}</span>
  </p>
  <p>All Rights Reserved &reg;</p>
  <p>
    Made By
    <a href="https://github.com/GeorgeBeshay/" target="_blank">George Samy</a>
    &
    <a href="https://github.com/PhilopaterHany/" target="_blank">
      Philopater Hany
    </a>
  </p>
</footer>
