<h1 class="page-title">CRUD System</h1>
<form class="product-details" id="product-form">
  <div class="inputs-container">
    <div>
      <label id="nameLabel" for="product-name" class="input-placeholder">
        Product Name
      </label>
      <input
        type="text"
        id="product-name"
        (focus)="placeHolderFocus('nameLabel')"
        (blur)="placeHolderBlur('nameLabel')"
        required
      />
    </div>
    <div>
      <label id="amountLabel" for="product-amount" class="input-placeholder">
        Amount
      </label>
      <input
        type="number"
        id="product-amount"
        (focus)="placeHolderFocus('amountLabel')"
        (blur)="placeHolderBlur('amountLabel')"
        required
      />
    </div>
    <div>
      <label id="priceLabel" for="product-price" class="input-placeholder">
        Price
      </label>
      <input
        type="number"
        id="product-price"
        (focus)="placeHolderFocus('priceLabel')"
        (blur)="placeHolderBlur('priceLabel')"
        required
      />
    </div>
    <div>
      <label id="categLabel" for="product-category" class="input-placeholder">
        Category
      </label>
      <input
        type="text"
        id="product-category"
        (focus)="placeHolderFocus('categLabel')"
        (blur)="placeHolderBlur('categLabel')"
        required
      />
    </div>
    <div>
      <label
        id="discountLabel"
        for="product-discount"
        class="input-placeholder"
      >
        Discount %
      </label>
      <input
        type="number"
        id="product-discount"
        (focus)="placeHolderFocus('discountLabel')"
        (blur)="placeHolderBlur('discountLabel')"
        required
      />
    </div>
    <div>
      <label id="sellerLabel" for="product-seller" class="input-placeholder">
        Seller
      </label>
      <input
        type="text"
        id="product-seller"
        (focus)="placeHolderFocus('sellerLabel')"
        (blur)="placeHolderBlur('sellerLabel')"
        required
      />
    </div>
  </div>
  <div class="buttons-container">
    <button
      id="add-btn"
      type="submit"
      class="submit"
      (click)="this.createProduct()"
    >
      Add Product
    </button>
    <button
      id="update-btn"
      type="submit"
      class="update"
      (click)="this.updateProduct()"
    >
      Update Product
    </button>
    <button type="reset">Clear</button>
  </div>
</form>
<form class="search-section" id="search-form">
  <div class="input-holder">
    <label id="searchLabel" for="search-product" class="input-placeholder">
      Search
    </label>
    <input
      type="search"
      id="search-product"
      (focus)="placeHolderFocus('searchLabel')"
      (blur)="placeHolderBlur('searchLabel')"
    />
  </div>
  <div class="radio-holder">
    <div>
      <input type="radio" name="search-type" id="by-name" checked />
      <label for="by-name">By Name</label>
    </div>
    <div>
      <input type="radio" name="search-type" id="by-category" />
      <label for="by-category">By Category</label>
    </div>
    <div>
      <input type="radio" name="search-type" id="by-seller" />
      <label for="by-seller">By Seller</label>
    </div>
  </div>
  <button class="search-btn" (click)="searchProduct()">Search</button>
</form>
<div>
  <table>
    <caption>
      <div>
        <button (click)="this.emptyDB()">
          <mat-icon>delete_forever</mat-icon>
        </button>
        <h4>Total: <span id="products-count">0</span></h4>
      </div>
      <button (click)="runApplication()">
        <mat-icon>autorenew</mat-icon>
      </button>
    </caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Seller</th>
        <th>ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="productsHolder"></tbody>
  </table>
</div>
<footer>
  <p>
    Copyrights &copy; <span>{{ currentYear }}</span>
  </p>
  <p>All Rights Reserved &reg;</p>
  <p>
    Made By
    <a href="https://github.com/GeorgeBeshay/" target="_blank">George Samy</a>
    &
    <a href="https://github.com/PhilopaterHany/" target="_blank">
      Philopater Hany
    </a>
  </p>
</footer>
