.page-title {
  margin-block: 40px;
  font-family: "Aboreto", cursive;
  text-align: center;
}
form {
  width: 95%;
  margin: auto;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.675);
}
form .inputs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px 30px;
  margin-bottom: 50px;
}
form .inputs-container > div {
  flex-basis: calc(50% - 15px);
  position: relative;
}
@media (max-width: 767px) {
  form .inputs-container {
    flex-direction: column;
    gap: 30px;
  }
  form .inputs-container > div {
    width: 100%;
  }
}
form .inputs-container > div label {
  position: relative;
  top: 29px;
  left: 10px;
  color: #777;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
form .inputs-container > div label.active {
  position: relative;
  top: 0;
  left: 0;
  color: red;
}
form .inputs-container > div input {
  width: 100%;
  padding: 10px;
  border: 2px solid;
  border-color: transparent transparent red transparent;
}
form .inputs-container > div input.active {
  border-color: red;
}
form .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
form .buttons-container button {
  padding: 10px;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
form .buttons-container button.submit {
  color: green;
  border: 2px solid green;
}
form .buttons-container button.submit:hover {
  color: #fff;
  background-color: green;
}
form .buttons-container button:not(.submit) {
  color: red;
  border: 2px solid red;
}
form .buttons-container button:not(.submit):hover {
  color: #fff;
  background-color: red;
}
table {
  width: 95%;
  margin: 50px auto;
  border-collapse: collapse;
}
table caption {
  text-align: left;
}
table thead tr th,
table tbody tr td {
  padding: 10px;
  text-align: center;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
table tbody tr:hover td {
  background-color: rgba(0, 0, 0, 0.15);
}
table tbody tr td sup {
  color: green;
}
table tbody tr td button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-inline: 2.5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
table tbody tr td button .delete-btn {
  color: red;
}
table tbody tr td button .edit-btn {
  color: green;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
  background-color: #000;
  color: #fff;
}
footer p {
  margin: 0;
}
footer p a {
  color: var(--primary-color);
  font-weight: bold;
}
