/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=IBM+Plex+Serif:wght@400;500;600;700&display=swap");
:root {
  --primary-color: #4129cc;
  --secondary-color: #ffc300;
  --green: #136f63;
  --red: #c1121f;
  --main-bg: #778da9;
}
::selection {
  color: #fff;
  background-color: var(--primary-color);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #aaa;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "IBM Plex Serif", serif;
  background-color: var(--main-bg);
  color: #fff;
}
a {
  text-decoration: none;
}
span {
  display: inline-block;
}
button {
  outline: none;
}
input {
  padding: 5px;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
